<app-admin-header></app-admin-header>
<nav class="navbar">
<div class="sgds-example-card-grid">

  <a href="/dashboard">
    <div tabindex="0" class="card sgds" [style.backgroundImage]="'url(' + dashboardImage + ')'">
      <div class="overlay">
          <div class="card-body">
            <div class="header">
              <label class="card-title">Dashboard</label>
              <p class="card-summary">An analytics dashboard that provides real-time visualizations and metrics, offering insights into resource utilization, system efficiency, and potential issues.</p>
            </div>
          </div>
      </div>
    </div>
  </a>

  <a href="/iemsim-admin">
    <div tabindex="0" class="card sgds" [style.backgroundImage]="'url(' + iemSimImage + ')'">
      <div class="overlay">
        <div class="card-body">
          <div class="header">
            <label class="card-title">IEM Simulator</label>
            <p class="card-summary">IEMSim is an advanced modelling tool adopted in the planning of the new Tengah town to build a comfortable living environment. It is a proprietary software platform that uses 3D models to simulate the dynamics of Urban Heat Island effects such as the wind-flow, temperature fluctuations, solar irradiance.</p>
          </div>
        </div>
      </div>
    </div>
  </a>

  <a href="/user-management">
    <div tabindex="0" class="card sgds" [style.backgroundImage]="'url(' + userManagementImage + ')'">
      <div class="overlay">
        <div class="card-body">
          <div class="header">
            <label class="card-title">User Management</label>
            <p class="card-summary">Enables efficient creation, modification, and deletion of user profiles, along with capabilities such as assigning roles, permissions, and access levels.</p>
          </div>
        </div>
      </div>
    </div>
  </a>
</div>  
  