<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IEM Simulator</title>
</head>
<body>
    <main>
        <h1 class="dash-label">
            Dashboard
        </h1>
        <div class="subscribed">
            <div class="sub-div">
                <div class="sub-icon"><mat-icon>next_plan</mat-icon></div>
                <div class="plan"><h3>Professional Plan</h3></div>
            </div>
        </div>
        <div class="usages">

            <div class="cpu">
                <span><mat-icon>analytics</mat-icon></span>
                <div class="middle">
                    <div class="left">
                        <h3>CPU Usage</h3>
                        <h1>1.6/4Hz</h1>
                    </div>
                    <div class="track">
                        <svg>
                            <circle cx='38' cy='38' r='38'></circle>
                        </svg>
                        <div class="number">
                            <p>40%</p>
                        </div>
                    </div>
                </div>
                <small class="text-muted">Last 24 hours</small>
            </div>
            <!-- END OF CPU USAGE -->

            <div class="storage">
                <span><mat-icon>analytics</mat-icon></span>
                <div class="middle">
                    <div class="left">
                        <h3>Storage Usage</h3>
                        <h1>700GB/1TB</h1>
                    </div>
                    <div class="track">
                        <svg>
                            <circle cx='38' cy='38' r='38'></circle>
                        </svg>
                        <div class="number">
                            <p>70%</p>
                        </div>
                    </div>
                </div>
                <small class="text-muted">Last 24 hours</small>
            </div>
            <!-- END OF STORAGE USAGE -->

            <div class="whatever">
                <span><mat-icon>analytics</mat-icon></span>
                <div class="middle">
                    <div class="left">
                        <h3>Total IDK</h3>
                        <h1>5 of 10</h1>
                    </div>
                    <div class="track">
                        <svg>
                            <circle cx='38' cy='38' r='38'></circle>
                        </svg>
                        <div class="number">
                            <p>50%</p>
                        </div>
                    </div>
                </div>
                <small class="text-muted">Last 24 hours</small>
            </div>
            <!-- END OF Whatever USAGE -->

        </div>
    </main>
</body>
</html>
