<app-header></app-header>
<div class="header">
    <div class="header-overlay">
        <img class="header-image" src="/assets/banner_photo.jpg">
        <div class="header-text">
            <label class="header-title">We design, develop and maintain turnkey software applications for both public and private sector</label>
            <p class="header-desc">
                Established in Year 2000, WizVision is an established Information Communications Technologies (ICT) System provider based in Singapore. Its core capabilities lie in the design, development as well as maintenance of turnkey enterprise class software applications for both the public and the private sector. Wizvision also provides comprehensive IT infrastructure design, maintenance as well as hosting services for its clients.
            </p>
        </div>
    </div>
</div>
<div class="sgds-example-card-grid">
    <div tabindex="0" variant="card-action" class="card sgds">
        <div class="card-body">
            <div class="pricing__header">
                <h1 class="pricing__title">Free Plan</h1>
                <h2 class="pricing__summary">For those getting started</h2>
            </div>

            <div class="pricing__description">
                <ul class="pricing__list">
                    <li class="pricing__feature">1 User Account</li>
                    <li class="pricing__feature">1 Core Processing Power</li>
                    <li class="pricing__feature">5GB Cloud Storage</li>
                </ul>
            </div>

            <div class="pricing__actions">
                <p class="pricing__cost">$0</p>
                <p class="pricing__text">per month</p>
                <a class="pricing__button" href="/login">Purchase</a>
            </div>
        </div>
    </div>

    <div tabindex="0" variant="card-action" class="card sgds">
        <div class="card-body">
            <div class="pricing__header">
                <h1 class="pricing__title">Standard Plan</h1>
                <h2 class="pricing__summary">For the everday user</h2>
            </div>

            <div class="pricing__description">
                <ul class="pricing__list">
                    <li class="pricing__feature">3 User Accounts</li>
                    <li class="pricing__feature">3 Cores Processing Power</li>
                    <li class="pricing__feature">100GB Cloud Storage</li>
                </ul>
            </div>

            <div class="pricing__actions">
                <p class="pricing__cost">$300</p>
                <p class="pricing__text">per month</p>
                <a class="pricing__button" href="/login">Purchase</a>
            </div>
        </div>
    </div>

    <div tabindex="0" variant="card-action" class="card sgds">
        <div class="card-body">
            <div class="pricing__header">
                <h1 class="pricing__title">Professional Plan</h1>
                <h2 class="pricing__summary">For organisations</h2>
            </div>

            <div class="pricing__description">
                <ul class="pricing__list">
                    <li class="pricing__feature">10 User Accounts</li>
                    <li class="pricing__feature">10 Cores Processing Power</li>
                    <li class="pricing__feature">1TB Cloud Storage</li>
                </ul>
            </div>

            <div class="pricing__actions">
                <p class="pricing__cost">$800</p>
                <p class="pricing__text">per month</p>
                <a class="pricing__button" href="/login">Purchase</a>
            </div>
        </div>
    </div>
</div>