<html>
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@govtechsg/sgds/css/sgds.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
</head>
<body>   
    <div class="background-div">
        <div class="project-nav">
            <div class="nav-header">
            <button id="transparent-button" routerLink="/project">Project</button>
            <button id="transparent-button" routerLink="/solar">Solar</button>
            <button id="transparent-button" routerLink="/wind">Wind</button>
            <button id="transparent-button" routerLink="/noise">Noise</button>
            </div> 
        </div>
        <div class="container-div">
            <div class="container-div-row">
                <label for="cityLocation">City Location :</label>
                <select name="cityLocation" id="cityLocation">
                    <option value="singapore">Singapore</option>
                </select>
            </div>
            <div class="container-div-2">
                <div class="container-div-row">
                    <label for="meshResolutionSolar">Mesh Resolution :</label>
                    <input type="text" class="form-control" id="meshResolutionSolar" name="meshResolutionSolar">
                    <label for="meshResolutionSolar">(m)</label>
                </div>
            </div>
            <div class="container-div-2">
                <div class="container-div-row">
                    <label for="meshOffset">Mesh Offset :</label>
                    <input type="text" class="form-control" id="meshOffset" name="meshOffset">
                    <label for="meshOffsetUnit">(m)</label>
                </div>
            </div> 
            <div class="container-div-2">
                <div class="container-div-row">
                    <label for="simulationType">Simulation Type :</label>
                    <select class="simulationType-select" name="simulationType" id="simulationType" [(ngModel)]="selectedSimulationType">
                        <option *ngFor="let simulationtype of simulationTypes" [value]="simulationtype">{{ simulationtype }}</option>
                    </select>
                </div>
                <div class="container-div-row form-check" *ngIf="selectedSimulationType === 'Cumulative Sky'">
                    <ul class="cumulative-sky-list">
                        <li>
                            <input type="checkbox" class="form-check-input" name="solarIrradiationCheckbox" id="solarIrradiationCheckbox" checked>
                        <label for="solarIrradiationCheckbox" class="form-check-label-1">Solar Irradiation</label>
                        </li>
                        <li>
                            <input type="checkbox" class="form-check-input" name="absorbedSolarEnergyCheckbox" id="absorbedSolarEnergyCheckbox" checked>
                        <label for="absorbedSolarEnergyCheckbox" class="form-check-label-1">Absorbed Solar Energy</label>
                        </li>
                    </ul>   
                </div>
                <div class="container-div-row form-check" *ngIf="selectedSimulationType === 'point-in-time'">
                    <ul class="point-in-time-list">
                        <li>
                            <input type="checkbox" class="form-check-input" name="solarShadingCheckbox" id="solarShadingCheckbox" checked>
                            <label for="solarShadingCheckbox" class="form-check-label-1">Solar Shading</label>
                        </li>
                        <li>
                            <input type="checkbox" class="form-check-input" name="daylightIlluminanceCheckbox" id="daylightIlluminanceCheckbox" checked>
                            <label for="daylightIlluminanceCheckbox" class="form-check-label-1">Daylight Illuminance</label>
                        </li>
                        <li>
                            <input type="checkbox" class="form-check-input" name="solarIrradiationCheckbox" id="solarIrradiationCheckbox" checked>
                            <label for="solarIrradiationCheckbox" class="form-check-label-1">Solar Irradiation</label>
                        </li>
                        <li>
                            <input type="checkbox" class="form-check-input" name="absorbedHeatFluxCheckbox" id="absorbedHeatFluxCheckbox" checked>
                            <label for="absorbedHeatFluxCheckbox" class="form-check-label-1">Absorbed Heat Flux</label>
                        </li>
                        <li>
                            <input type="checkbox" class="form-check-input" name="skyViewFactorCheckbox" id="skyViewFactorCheckbox" checked>
                            <label for="skyViewFactorCheckbox" class="form-check-label-1">Sky View Factor</label>
                        </li>
                    </ul>
                </div>
            </div> 
            <div class="container-div-2">
                <div class="container-div-row">
                    <label for="startDate">Start Date :</label>
                    <input type="datetime-local" name="startDate" id="startDate">
                </div>
                <div class="container-div-row">
                    <label for="endDate">End Date :</label>
                    <input type="datetime-local" name="endDate" id="endDate">
                </div>
            </div> 
            <div class="container-div-2">
                <div class="container-div-row">
                    <label for="numOfReflections">Num of Reflections:</label>
                    <select name="numOfReflections" id="numOfReflections">
                        <option *ngFor="let numOfReflection of numOfReflections" [value]="numOfReflection">{{ numOfReflection }}</option>
                    </select>
                </div>
            </div>
            <div class="container-div-2">
                <div class="container-div-row">
                    <label for="numOfSamplingRays">Num of Sampling Rays:</label>
                    <select name="numOfSamplingRays" id="numOfSamplingRays">
                        <option *ngFor="let numOfSamplingRay of numOfSamplingRays" [value]="numOfSamplingRay">{{ numOfSamplingRay }}</option>
                    </select>
                </div>
            </div>
            <div class="container-div-2">
                <div class="container-div-row">
                    <label for="sunInclusion">Sun Inclusion:</label>
                    <input type="radio" class="form-check-input" name="sunInclusionRadio" id="sunInclusionRadio" value="yes" checked>
                    <label for="sunInclusionRadioYes" class="form-check-label">Yes</label>
                    <input type="radio" class="form-check-input" name="sunInclusionRadio" id="sunInclusionRadio" value="no">
                    <label for="sunInclusionRadioNo">No</label>
                </div>
            </div>
            <div class="container-div-2">
                <div class="container-div-row">
                    <label for="multiband" >Multiband:</label>
                    <input type="radio" class="form-check-input" name="multibandRadio" id="multibandRadio" value="total" checked>
                    <label for="multibandRadioTotal" class="form-check-label">Total</label>
                    <input type="radio" class="form-check-input" name="multibandRadio" id="multibandRadio" value="totalmultiband">
                    <label for="multibandRadioTotalMultiband" class="form-check-label">Total & Multiband</label>
                </div>
            </div>
            <div class="container-div-2">
                <div class="container-div-row">
                    <label for="createMeshPoints">Create Mesh Points :</label>
                    <button type="button" class="btn btn-primary btn-sm sgds" name="createMeshPoints">Create</button>
                </div>
            </div>
            <div class="container-div-2">
                <div class="container-div-row">
                    <label for="solarSolver">Solar Solver :</label>
                    <button type="button" class="btn btn-primary btn-sm sgds" name="solarSolver">Run</button>
                </div>
            </div>
            <div class="container-div-2">
                <div class="container-div-row">
                    <label for="outputFile">Output File :</label>
                    <input type="file" id="outputFile" name="outputFile">
                </div>
            </div>
        </div>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>
</html> 