<!-- homepage-user.component.html -->
<app-user-header></app-user-header>
<nav class="navbar">
    <!-- ... other navbar content ... -->
    
    <!-- Profile Dropdown Menu -->
    <!--
    <div class="nav-item dropdown">
      <button class="dropbtn">Profile</button>
      <div class="dropdown-content">
        <a routerLink="/enable-mfa">Enable MFA</a>
        <a routerLink="/change-password">Change Password</a>
        <a routerLink="/logout" (click)="logout()">Logout</a>
      </div>
    </div>
  </nav>
  -->
<div class="sgds-example-card-grid">

  <a href="/iemsim">
    <div tabindex="0" class="card sgds" [style.backgroundImage]="'url(' + iemSimImage + ')'">
      <div class="overlay">
        <div class="card-body">
          <div class="header">
            <label class="card-title">IEM Simulator</label>
            <p class="card-summary">IEMSim is an advanced modelling tool adopted in the planning of the new Tengah town to build a comfortable living environment. It is a proprietary software platform that uses 3D models to simulate the dynamics of Urban Heat Island effects such as the wind-flow, temperature fluctuations, solar irradiance.</p>
          </div>
        </div>
      </div>
    </div>
  </a>

</div>  
